.mainContainer{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#ddd6f3 , #faaca8);
}


.mainContainer > *{
  margin: 0 15px;
}

.mainContainer > button{
  width: 100px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  background-color: white;
  color: black;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.mainContainer > p{
  font-weight: 600;
  font-size: 20px;
}